@charset "utf-8";
$color: #7B1FA2;
$color2: #9C27B0;
$color3: #E1BEE7;
$accent: #009688;
html,
body {
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

strong {
    font-weight: bold;
}

.container {
    display: block;
    margin: auto;
    max-width: 1000px;
    @media all and (max-width: 768px) {
        padding: 0 10px;
    }
    h2 {
        font-size: 34px;
        font-weight: bold;
        margin: 30px 0;
        text-align: center;
    }
}

%shadow {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
}

@mixin bg($size) {
    background-repeat: no-repeat;
    background-size: $size auto;
    background-position: center center;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .todo__header {
        background-color: $color;
        border-radius: 5px;
        @extend %shadow;
        max-width: 500px;
        margin: 0 auto 20px auto;
        width: 100%;
        padding: 15px;
        position: relative;
        .todo__header__input {
            background-color: $color2;
            border: $color2;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            @extend %shadow;
            color: #fff;
            font-size: 20px;
            font-weight: 300;
            height: 60px;
            padding: 10px 70px 10px 10px;
            width: 100%;
            &:focus {
                outline: none;
            }
        }
        .todo__header__btn {
            background-color: $accent;
            border-radius: 50%;
            border: none;
            @extend %shadow;
            cursor: pointer;
            height: 60px;
            float: right;
            width: 60px;
            position: absolute;
            right: 15px;
            top: 15px;
            line-height: 60px;
            text-align: center;
            &:focus {
                outline: none;
            }
            &:before {
                content: "\f067";
                color: #fff;
                font-family: FontAwesome;
                font-size: 29px;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }
    .todo__warning {
        background-color: $accent;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        @extend %shadow;
        margin: 0 0 20px 0;
        opacity: 0;
        padding: 10px;
        transition: 0.5s ease-in;
    }
    .todo__body {
        background-color: $color3;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 15px;
        .todo__body__h2 {
            color: #fff;
            background-color: $accent;
            border-radius: 5px;
            font-size: 20px;
            @extend %shadow;
            padding: 10px;
            margin: 0 0 30px 0;
            .fa {
                float: right;
            }
        }
        .todo__body__text {
            color: #212121;
            font-weight: 300;
            font-size: 16px;
            margin: 0 0 30px 0;
            text-align: center;
        }
        .todo__body__list {
            margin: 0;
            padding: 0;
            &.todo__body__list--done {
                .todo__body__list__buttons {
                    .todo__body__list__buttons--done {
                        background-color: $accent;
                        &:before {
                            color: #fff;
                        }
                        &:hover {
                            background-color: #fff;
                            transition: 0.2s ease-in;
                            &:before {
                                color: $accent;
                            }
                        }
                    }
                }
            }
            li {
                display: flex;
                align-items: center;
                background-color: $color2;
                border-radius: 5px;
                color: #fff;
                @extend %shadow;
                margin: 0 0 20px 0;
                min-height: 60px;
                padding: 10px;
                width: 100%;
                &:last-child {
                    margin: 0;
                }
            }
            .todo__body__list__item {
                width: calc(100% - 100px);
                display: block;
                float: left;
            }
            .todo__body__list__buttons {
                float: right;
                width: 90px;
                margin: 0 0 0 10px;
                .todo__body__list__buttons--remove,
                .todo__body__list__buttons--done {
                    border-radius: 50%;
                    @extend %shadow;
                    cursor: pointer;
                    height: 40px;
                    line-height: 40px;
                    float: left;
                    width: 40px;
                    position: relative;
                    text-align: center;
                    &:before {
                        color: #fff;
                        font-family: FontAwesome;
                        font-size: 20px;
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                    }
                    &:hover {
                        transition: 0.2s ease-in;
                        &:before {
                            color: #fff;
                        }
                    }
                }
                .todo__body__list__buttons--remove {
                    background-color: #fff;
                    margin: 0 0 0 10px;
                    &:before {
                        content: "\f014";
                        color: #C2185B;
                    }
                    &:hover {
                        background-color: #C2185B;
                    }
                }
                .todo__body__list__buttons--done {
                    background-color: #fff;
                    &:before {
                        content: "\f00c";
                        color: $accent;
                    }
                    &:hover {
                        background-color: $accent;
                    }
                }
            }
        }
    }
}

.todo-boxes {
    align-items: flex-start;
    flex-direction: row;
    @media screen and (max-width: 768px) {
        align-items: center;
        flex-direction: column;
    }
}

.todo-column {
    flex: 1;
    width: 100%;
    max-width: 45%;
    align-items: top;
    border-radius: 5px;
    margin: 0 0 15px 0;
    @extend %shadow;
    @media screen and (max-width: 768px) {
        max-width: 500px;
        margin: 0 0 30px 0;
    }
    .todo__body {
        border-radius: 5px;
    }
}

.removed {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.85);
    .removed__body {
        background-color: $color2;
        border-radius: 5px;
        color: #fff;
        font-size: 34px;
        @extend %shadow;
        padding: 10px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 30px 0;
        position: relative;
        @media screen and (max-width: 768px) {
            width: 90%;
            font-size: 20px;
        }
        strong {
            color: $color3;
            font-style: italic;
            margin: 10px 0;
            text-align: center;
            text-transform: uppercase;
        }
        .fa {
            position: absolute;
            right: 10px;
            top: 10px;
            background-color: #fff;
            border-radius: 50%;
            color: $accent;
            font-size: 20px;
            @extend %shadow;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
    }
}

.copy {
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 30px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    opacity: 0.5;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    opacity: 0.5;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
    opacity: 0.5;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    opacity: 0.5;
}